@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garantir que o html, body e o root do React ocupem 100% da tela */
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* Cor padrão de fundo (gray-50 do Tailwind) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
